* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color:#f5f5fa
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a {
    color: #f5f5fa;
    text-decoration: none;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 :auto :0 auto
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px o;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}


.articles article P,
.articles :active a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1); 
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f5f16d;
}

#economy .articles article a {
    background-color: #caca5a;
}

#entertainment {
    background-color: #f189fa;
}

#entertainment .articles article a {
    background-color: #ad4eb2;
}

#technology {
    background-color: #77f6fd;
}

#technology .articles article a {
    background-color: #64a0b4;
}
